<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>googlePlacesAPIKey</key>
	<string></string>
	<key>ConversationWorkspaceID</key>
	<string></string>
	<key>ConversationUsername</key>
	<string></string>
	<key>ConversationPassword</key>
	<string></string>
	<key>ConversationVersion</key>
	<string>2016-12-23</string>
	<key>TextToSpeechUsername</key>
	<string></string>
	<key>TextToSpeechPassword</key>
	<string></string>
	<key>SpeechToTextUsername</key>
	<string></string>
	<key>SpeechToTextPassword</key>
	<string></string>
	<key>BluemixMobileAnalytics</key>
	<string>5bc78043-759d-4e52-9355-861b406bdaef</string>
</dict>
</plist>
